<?php
/** @var \Scalapay\Casestudy\Block\OrderForm $block */
?>
<form class="form order"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="order-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Consumer\'s Data')) ?></span></legend><br />
        <div class="field consumer-givenNames required">
            <label class="label" for="consumer-givenNames"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="consumer-givenNames" id="consumer-givenNames" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field consumer-surname required">
            <label class="label" for="consumer-surname"><span><?= $block->escapeHtml(__('Surname')) ?></span></label>
            <div class="control">
                <input name="consumer-surname" id="consumer-surname" title="<?= $block->escapeHtmlAttr(__('Surname')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field consumer-email required">
            <label class="label" for="consumer-email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input name="consumer-email" id="consumer-email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field consumer-phoneNumber required">
            <label class="label" for="consumer-phoneNumber"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
            <div class="control">
                <input name="consumer-phoneNumber" id="consumer-phoneNumber" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Shipping Information')) ?></span></legend><br />
        <div class="field shipping-name required">
            <label class="label" for="shipping-name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="shipping-name" id="shipping-name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field shipping-countryCode required">
            <label class="label" for="shipping-countryCode"><span><?= $block->escapeHtml(__('Country Code')) ?></span></label>
            <div class="control">
                <input name="shipping-countryCode" id="shipping-countryCode" title="<?= $block->escapeHtmlAttr(__('Country Code')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field shipping-postcode required">
            <label class="label" for="shipping-postcode"><span><?= $block->escapeHtml(__('Postal Code')) ?></span></label>
            <div class="control">
                <input name="shipping-postcode" id="shipping-postcode" title="<?= $block->escapeHtmlAttr(__('Postal Code')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field shipping-line1 required">
            <label class="label" for="shipping-line1"><span><?= $block->escapeHtml(__('Line 1')) ?></span></label>
            <div class="control">
                <input name="shipping-line1" id="shipping-line1" title="<?= $block->escapeHtmlAttr(__('Line 1')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Items')) ?></span></legend><br />
        <div class="field items-name required">
            <label class="label" for="items-name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="items-name" id="items-name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field items-category required">
            <label class="label" for="items-category"><span><?= $block->escapeHtml(__('Category')) ?></span></label>
            <div class="control">
                <input name="items-category" id="items-category" title="<?= $block->escapeHtmlAttr(__('Category')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field items-sku required">
            <label class="label" for="items-sku"><span><?= $block->escapeHtml(__('Sku')) ?></span></label>
            <div class="control">
                <input name="items-sku" id="items-sku" title="<?= $block->escapeHtmlAttr(__('Sku')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field items-quantity required">
            <label class="label" for="items-quantity"><span><?= $block->escapeHtml(__('Quantity')) ?></span></label>
            <div class="control">
                <input name="items-quantity" id="items-quantity" title="<?= $block->escapeHtmlAttr(__('Quantity')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field items-price-amount required">
            <label class="label" for="items-price-amount"><span><?= $block->escapeHtml(__('Price Amount')) ?></span></label>
            <div class="control">
                <input name="items-price-amount" id="items-price-amount" title="<?= $block->escapeHtmlAttr(__('Price Amount')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field items-price-currency required">
            <label class="label" for="items-price-currency"><span><?= $block->escapeHtml(__('Price Currency')) ?></span></label>
            <div class="control">
                <input name="items-price-currency" id="items-price-currency" title="<?= $block->escapeHtmlAttr(__('Price Currency')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Total amount')) ?></span></legend><br />
        <div class="field totalAmount-amount required">
            <label class="label" for="totalAmount-amount"><span><?= $block->escapeHtml(__('Amount')) ?></span></label>
            <div class="control">
                <input name="totalAmount-amount" id="totalAmount-amount" title="<?= $block->escapeHtmlAttr(__('Amount')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field totalAmount-currency required">
            <label class="label" for="totalAmount-currency"><span><?= $block->escapeHtml(__('Currency')) ?></span></label>
            <div class="control">
                <input name="totalAmount-currency" id="totalAmount-currency" title="<?= $block->escapeHtmlAttr(__('Currency')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Merchant')) ?></span></legend><br />
        <div class="field merchant-redirectCancelUrl required">
            <label class="label" for="merchant-redirectCancelUrl"><span><?= $block->escapeHtml(__('Redirect Cancel Url')) ?></span></label>
            <div class="control">
                <input name="merchant-redirectCancelUrl" id="merchant-redirectCancelUrl" title="<?= $block->escapeHtmlAttr(__('Redirect Cancel Url')) ?>" value="https://portal.staging.scalapay.com/success-url" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field merchant-redirectConfirmUrl required">
            <label class="label" for="merchant-redirectConfirmUrl"><span><?= $block->escapeHtml(__('Redirect Confirm Url')) ?></span></label>
            <div class="control">
                <input name="merchant-redirectConfirmUrl" id="merchant-redirectConfirmUrl" title="<?= $block->escapeHtmlAttr(__('Surname')) ?>" value="https://portal.staging.scalapay.com/failure-url" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Invia')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Invia')) ?></span>
            </button>
        </div>
    </div>
</form>
